*{
    font-family: roboto;
}
body{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin:0;
}
section{
    display: flex;
    overflow-x: hidden;
}
#intro{
    text-align: center;
    padding: 0 20px;
    transition: all 0.4s ease-in;
    min-width: 100vw;
    
}
h1{
    color:  #656565;
    font-size: 24px;
    padding: 0px 20px;
}
h2{
    font-size: 20px;
    color:  #656565;
}
#start-button{
    background-color: #ef7493;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#start-button:hover{
    background-color: #a28ed2;
}
#start-button:active{
    background-color: #a28ed2;
}
#question-box{
    text-align: center;
    min-width: 100vw;
}
p{
    font-size: 20px;
    color:  #656565;
    text-align: center;
}



/*.question{
    min-width: 90vw;
    transition: all 0.4s ease-in;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options>button{
    max-width: fit-content;
    background-color: #3194f4;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px 50px;
    margin-bottom: 10px;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 0.6s ease-out;
}
.options>button:active{
    background-color: #a28ed2;
}
.options>button:hover{
    background-color: #a28ed2;
}
.nxt{
    background-color: #ef7493;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.nxt:active{
    background-color: #a28ed2;
}
.nxt:hover{
    background-color: #a28ed2;
}
*/