*{
    font-family: roboto;
}
body{
    text-align: center;
    padding: 50px 20px;
    height: 80vh;
}
h1{
    color: #3194f4;
    font-size: 28px;
}
section{
    display: flex;
    overflow-x: hidden;
}
.question{
    min-width: 90vw;
}
p{
    font-size: 20px;
    color: #3194f4;
}
.options>button{
    background-color: #3194f4;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px 50px;
    margin-bottom: 15px;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.options>button:active{
    background-color: #4184ee;
}
.nxt{
    background-color: #ef7493;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}